# Visualização de dados

## Importando a base de dados

In [2]:
import pandas as pd

In [3]:
db = pd.read_csv('dataset/aluguel.csv', sep=';')
db.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

## Eliminando duplicatas

In [4]:
# lista apenas com os tipos de imóveis disponíveis na base de dados
db_tipos = db['Tipo'].drop_duplicates()

# renumeração dos íncices em ordem crescente.
db_tipos.index = range(db_tipos.shape[0])   
db_tipos

0                       Quitinete
1                            Casa
2         Conjunto Comercial/Sala
3                     Apartamento
4              Casa de Condomínio
5                  Prédio Inteiro
6                            Flat
7                      Loja/Salão
8         Galpão/Depósito/Armazém
9                  Casa Comercial
10                   Casa de Vila
11                 Terreno Padrão
12                    Box/Garagem
13                           Loft
14    Loja Shopping/ Ct Comercial
15                        Chácara
16          Loteamento/Condomínio
17                          Sítio
18                  Pousada/Chalé
19                         Studio
20                          Hotel
21                      Indústria
Name: Tipo, dtype: object

## Selecionando apenas imóveis residenciais

In [5]:
# criando lista apenas com os tipos de imóveis comerciais
residenciais = list(db_tipos[0:4]) + list(db_tipos[10:11])
residenciais

['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento', 'Casa de Vila']

In [6]:
# filtragem para saber quais linhas correspondem a imóveis residenciais
db['Tipo'].isin(residenciais)

0        True
1        True
2        True
3        True
4        True
         ...
32955    True
32956    True
32957    True
32958    True
32959    True
Name: Tipo, Length: 32960, dtype: bool

In [7]:
# criação do DataFrame apenas com os imóveis residenciais
db_residenciais = db[db['Tipo'].isin(residenciais)]

# renumerando os índices
db_residenciais.index = range(db_residenciais.shape[0])
db_residenciais.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

## Salvando novos dados em formato csv

In [8]:
db_residenciais.to_csv('dataset/aluguel_residencial.csv', sep = ';', index = False)