# <b>Seleções e Frequências

## <b>Importando a base de dados

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dataset/aluguel_residencial.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [3]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.
select1 = dados['Tipo'] == 'Apartamento'
n1 = dados[select1]
n1.shape[0]

19532

In [4]:

# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
select2 = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[select2]
n2.shape[0]

1216

In [5]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
select3 = (dados['Area'] >= 60) & (dados['Area'] >= 100)
n3 = dados[select3]
n3.shape[0]

11718

In [6]:

# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
select4 = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[select4]
n4.shape[0]

39

In [7]:
print(f"Nº de imóveis classificados com tipo 'Apartamento' -> {n1.shape[0]}")
print(f"Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {n2.shape[0]}")
print(f"Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {n3.shape[0]}")
print(f"Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {n4.shape[0]}")

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> 1216
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 11718
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 39